mat-form-field {
    margin-bottom: 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 60%;
  }
  
 
  button {
    margin-top: 10px;
  }
  

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }