<mat-sidenav-container>
    <mat-sidenav>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>App</div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fx.Hide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li><a routerLink="/main">Főmenü</a></li>
                    <li><a routerLink="/login">Bejelentkezés</a></li>
                    <li><a routerLink="/signup">Regisztráció</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>



