<body>
    <main>
        <form [formGroup]="signUpForm" (ngSubmit)="signup()">
            <div><label for="email">E-mail:</label><input type="text" formControlName="email"></div>
            <div><label for="password">Jelszó:</label><input type="password" formControlName="password"></div>
            <div><label for="password2">Jelszó újra:</label><input type="password" formControlName="password2"></div>
            <div formGroupName="name">
                <div>
                    <label for="firstname">Keresztnév:</label><input type="text" formControlName="firstname">
                </div>
                <div>
                    <label for="lastname">Vezetéknév:</label><input type="text" formControlName="lastname">
                </div>
            </div>
            <div>
                <button type="submit">Regisztráció</button>
            </div>
        </form>
    </main>
</body>